# This file is a template, and might need editing before it works on your project.
# Official language image. Look for the different tagged releases at:
# https://hub.docker.com/r/library/python/tags/
stages:
  - test
  - docs

test:
  stage: test
  image: joyzoursky/python-chromedriver:3.7-selenium
  before_script:
    - python -V # Print out python version for debugging
    - pip install -r requirements-dev.txt
  script:
    - coverage run manage.py test
    - coverage report
    - coverage html
  artifacts:
    paths:
      - htmlcov


pages:
  stage: docs
  dependencies:
    - test
  script:
    - mv htmlcov/ public/
  artifacts:
    paths:
      - public
