asgiref==3.11.0
crispy-bootstrap4==2025.6
Django==6.0
django-crispy-forms==2.5
django-simple-history==3.11.0
python-dateutil==2.9.0.post0
python-decouple==3.8
pytz==2025.2
six==1.17.0
sqlparse==0.5.5
# la versione di typing_extensions qui sotto deve essere la stessa di quella di "apt install python3-typing-extensions"
typing_extensions==4.13.2
whitenoise==6.11.0
