body {
    font-family: 'Lato', sans-serif !important;
}

.mb-3, .my-3 {
    margin-top: 1rem;
}

.container-fluid, .container {
    margin-top: 1rem
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.dropdown-menu {
    width: 300px !important;
    padding: 20px !important;
}

@media (min-width:900px) {
    .maybe-fixed {
        table-layout: fixed
    }
}

a.nohover:hover {
    text-decoration: none;
}

.multi-form-control {
    display: inline-block;
    width: auto;
}

.alert {
  font-size: 1.2rem;
}

#logout-form {
    display: inline;
}

#logout-form button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    text-decoration: none;
}

#logout-form button:hover {
    text-decoration: underline;
}

#logout-form button:active {
    text-decoration: underline;
    outline: none;
}
